  table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    border-radius: 3px;
    background: #fff;
    color: #666;
    display: table;
    font-size: 16px;
    max-width: 100%;
    width: 100%;
  }
  
  table td,
  table th {
    border-top: 1px solid #eee;
    display: table-cell;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
  }
  
  table th {
    border-bottom: 2px solid #eee;
    vertical-align: middle;
  }
  
  .item-cell {
    padding: 2px 12px;
    /* use for cells containing buttons, sliders, etc. */
  }
  
  /********** Search Bar **********/
  input[type="search"] {
    border-width: 2px;
    display: inline-block;
    padding-left: 2.5em;
    transition: width 0.4s ease-in-out 0s;
    width: 150px;
  }

  input[type="search"]:focus {
    width: 60%;
  }
  
  label[for="search"] {
    bottom: 6px;
    color: #999;
    left: 1em;
    position: absolute;
    z-index: 1;
  }
  
  /********** Checkbox Sliders **********/
  .switch {
    display: inline-block;
    height: 2em;
    position: relative;
    vertical-align: middle;
    width: 3.5em;
  }
  
  .switch input {
    display: none;
    margin: 0;
  }
  
  .slider {
    background-color: #ccc;
    border-radius: 1em;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.4s ease 0s;
  }
  
  .slider::before {
    background-color: white;
    border-radius: 0.7em;
    bottom: 4px;
    content: "";
    height: 1.4em;
    left: 4px;
    position: absolute;
    transition: all 0.4s ease 0s;
    width: 1.4em;
  }
  
  input:checked + .slider {
    background-color: #40bb93;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.5em);
    -ms-transform: translateX(1.5em);
    transform: translateX(1.5em);
  }

  .edit-row {
    font-weight: bold;
    color: var(--secondary);
    cursor: pointer;
  }