

body {
  background-color:rgba(240,128,128,0.1);
  font-family: "monospace", "Helvetica", "Arial", "sans-serif";
}

a {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  background-color:#2d3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  margin-bottom: 3rem;
}

input {
  box-shadow: 0 1px 1px 0 #D9DFE4;
  border:none!important;
  height: 40px;
  margin: 0.3rem 0 0.8rem 0;
}